article 
    section
        h2#London London 
        p is the largest city
        img(src="images/bulb-on.jpg", alt="BulbOn") 
        h2#Paris Paris 
        p something just for checking 
        img(src="images/bulb-off.jpg", alt="BulbOn") 
        h2#Tokyo Tokyo 
        p isme bhi kuch likh dete hain
        img(src="images/bulb-on.jpg", alt="BulbOn") 